:root {
    --orange: #f7b55e;
    --orange-transparent: #f7b55e63: 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url(/resources/bg.jpg);
}
.wrapper {
    padding: 50px;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto 1fr;
}
button.add-book-button {
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.add-book-div {
    display: flex;
    justify-content: center;
}
button.add-book-button:hover {
    background-color:var(--orange-transparent);
    border-radius: 15px;
    border: 2px solid var(--orange);
    scale: 1.2;
}
input[type='text'], input[type='number'] {
    padding: 5px 10px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid var(--orange);
    outline: none;
}
input[type='text']:hover, input[type='number']:hover {
    scale: 1.2;
    transition: 0.7s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
fieldset label {
    color: white;
    font-weight: bold;
    font-size: 25px;
}
input[type='checkbox'] {
    accent-color:  var(--orange);
}
.read-checkbox {
    height: 25px;
    width: 25px;
}
.submit-btn {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    border: 2px solid var(--orange);
    background-color: var(--orange-transparent);
    color: white;
}
.submit-btn:hover {
    scale: 1.2;
    transition: 0.7s;
    cursor: pointer;
    background-color: var(--orange);
}
.books-add {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.books-show {
    padding: 30px 0px;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 40px
}
.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 2px solid var(--orange);
    border-radius: 15px;
    background-color: #f7b55e79;
    padding: 10px 20px;
    height: 200px;
    width: 300px;
    transition: 0.7s;
}
.book-card:hover {
    scale: 1.2;
    transition: 0.7s;
}
.book-card .book-name {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    flex: 1;
}
.book-card .book-pages {
    display: flex;
    justify-content: center;
    flex: 1;
}
.book-card-bottom {
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid var(--orange) ;
}
.book-read-button {
    height: 30px;
    border: 2px solid var(--orange);
    background-color: var(--orange-transparent);
    right: 0;
    color: white;
    border-radius: 15px;
    width: 70px;
    cursor: pointer;
}
.book-read-button:hover {
    background-color: var(--orange);
}
p.book-author {
    flex: 1;
}
.book-delete-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid var(--orange);
    background-color: var(--orange-transparent);
    color: white;
    cursor: pointer;
}
.book-delete-button:hover {
    background-color: var(--orange);
}